---
permalink: /talks/decks/2026-03-productividad-toxica/deck/index.html
eleventyExcludeFromCollections: true
eleventyComputed:
  layout: ""
---
{% set slides = collections["deck:2026-03-productividad-toxica"] %}
{% include "deck-player.njk" %}
