---
permalink: /talks/decks/2026-03-productividad-toxica/index.html
eleventyExcludeFromCollections: true
eleventyComputed:
  layout: ""
---
{% set slug = "2026-03-productividad-toxica" %}
{% set slides = collections["deck:2026-03-productividad-toxica"] %}
{% include "deck-toc.njk" %}
