---
permalink: /talks/decks/productividad/deck/index.html
eleventyExcludeFromCollections: true
eleventyComputed:
  layout: ""
---
{% set slides = collections["deck:productividad"] %}
{% include "deck-player.njk" %}
