---
permalink: /talks/decks/productividad/index.html
eleventyExcludeFromCollections: true
eleventyComputed:
  layout: ""
---
{% set slug = "productividad" %}
{% set slides = collections["deck:productividad"] %}
{% include "deck-toc.njk" %}
