---
permalink: /talks/decks/el-mito-de-la-productividad-toxica-freson/deck/index.html
eleventyExcludeFromCollections: true
eleventyComputed:
  layout: ""
---
{% set slides = collections["deck:el-mito-de-la-productividad-toxica-freson"] %}
{% include "deck-player.njk" %}
