---
permalink: /talks/decks/el-mito-de-la-productividad-toxica-freson/speaker/index.html
eleventyExcludeFromCollections: true
eleventyComputed:
  layout: ""
---
{% set slug = "el-mito-de-la-productividad-toxica-freson" %}
{% set slides = collections["deck:el-mito-de-la-productividad-toxica-freson"] %}
{% include "deck-speaker.njk" %}
