---
permalink: /talks/decks/el-mito-de-la-productividad-toxica/deck/index.html
eleventyExcludeFromCollections: true
eleventyComputed:
  layout: ""
---
{% set slides = collections["deck:productividad"] %}
{% include "deck-player.njk" %}
