---
permalink: /talks/decks/el-mito-de-la-productividad-toxica/index.html
eleventyExcludeFromCollections: true
eleventyComputed:
  layout: ""
---
{% set slug = "el-mito-de-la-productividad-toxica" %}
{% set slides = collections["deck:el-mito-de-la-productividad-toxica"] %}
{% include "deck-toc.njk" %}
