---
permalink: /talks/decks/el-mito-de-la-productividad-toxica/speaker/index.html
eleventyExcludeFromCollections: true
eleventyComputed:
  layout: ""
---
{% set slug = "productividad" %}
{% set slides = collections["deck:productividad"] %}
{% include "deck-speaker.njk" %}
